.animated-gradient-text {
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: 300% 100%;
  animation: gradient-text-anim 3s ease-in-out infinite alternate;
  font-weight: 700;
}

@keyframes gradient-text-anim {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
